{% extends 'pizza/base.html'%}
{% block 'body' %}
{% load widget_tweaks %}

    <div class="container">

    <h1>Order a Pizza</h1>
    <h2>{{note}}</h2>
    <!-- <form enctype="multipart/form-data"action="{%url 'order'%}" method="post">-->
    {% if created_pizza_pk%}
    <a href ="{% url 'edit_order' created_pizza_pk %}">Edit Your Order</a>
    {% endif%}
    <form action="{%url 'order'%}" method="post" >
      {% csrf_token %}
      {% for field in pizza_form %}
        <div class="form-group">
          {{ field.errors}}
          {{ field.label_tag}}
          {% render_field field class="form-control" %}
        </div>
      {% endfor %}



          <!-- {{pizza_form.topping1.label_tag}}
          {{pizza_form.topping1}}
          {{pizza_form.topping1.errors}}
          {{pizza_form.topping2.label_tag}}
          {{pizza_form.topping2}}
          {{pizza_form.topping2.errors}}

          <br><br><br>
          <label for="{{pizzaform.size.id_for_label}}">Size:</label>
          {{pizza_form.size.label_tag}}
          {{pizza_form.size}}
          {{pizza_form.size.errors}} -->

    <input type="submit" name="" value="Order Pizza">
    </form>

    <br></br>
    Want more than one pizza?

    <form action="{%url 'pizzas'%}" method="get">
{% csrf_token %}
      {{multiple_form}}
    <input type="submit"  value="Get Pizza">
    </form>


    </div>
{% endblock %}
